<!DOCTYPE html>
<html class="no-js" lang="nl" dir="ltr" prefix="og: http://ogp.me/ns#">

  {% capture head %}{% include head.html %}{% endcapture %}{{ head | strip }}
  

  <body>
    
    <div class="off-canvas-wrapper">
      <!-- off-canvas inner -->
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        {% include header.html %}
        
        <!-- content -->
        <div class="off-canvas-content" data-off-canvas-content>
          {{ content }}
          <div class="row column">
            {% include footer.html %}
          </div>
        </div><!-- /content -->

      </div><!-- /off-canvas inner -->
      
    </div>
    
    {% include foot.html %}

  </body>

</html>